<div class="container mx-auto pt-5">
    <h1 class="text-2xl font-semibold text-gray-900 pl-10" > Edit Listing</h1>

    <%= render partial: "form", locals:{listing: @listing,  default_address: @default_address}%>

</div>