<div class= " container mx-auto">
    <%if params[:status]== 'successful'%>

    <h1> Your transaction was successful</h1>

    <%else%>
    <h1>Your transaction was unsuccessful</h1>

    <%end%>


</div>