
    <div id="pay_button">
    <button type="button" data-action="click->general#makePayment"  class="mt-8 flex w-full items-center justify-center rounded-md border border-transparent bg-teal-700 px-8 py-3 text-base font-medium text-white ">Pay Now</button>
    </div>
  