<div>
<div class=" bg-dotted bg-cover   " >

<div class="container mx-auto pt-10 grid grid-cols-6 place-items-center">
<div  class="col-span-4 flex flex-col space-y-20">
        <div>
                          <h1 class="text-5xl font-bold text-green text-left  font-serif inline underline decoration-emerald-600"> Nigeria's</h1>

                  <h1 class="text-5xl font-bold text-green text-left font-serif inline"> first Online Fashion Marketplace</h1>

        </div>


        <br>

        <p class="text-xl tracking-wide font-bold text-black">Sell Items from your closet and buy unique pieces.</p>

       


    <div class= >
              <%= link_to 'Shop Now', shop_path, class:"ml-3 inline-flex items-center rounded-md bg-emerald-600 px-3 py-2 text-xl font-semibold text-white shadow-sm"%>

    </div>
      
      

</div>

<div class="col-span-2">
    <%= image_tag "shirt7" %>

</div>



</div>
 

</div>

<div class="bg-gray-50 bg-cover bg-no-repeat ">

<div class="container mx-auto ">

<% if false%>

<h1 class=" flex items-center justify-center text-green-800 text-2xl font-bold pt-10"> How It Works</h1>

<br>
    <div  class="flex flex-row">
        <div class= "flex flex-col items-center justify-center basis-1/2 border-r-2 border-black space-y-8">

        <h1 class="text-2xl"> Sellers</h1>


<svg class="u-w-4xs u-mr-2x" width="30" height="30" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M29.3584 16.481C29.1578 16.2224 28.9596 15.9588 28.7639 15.6953C28.2085 14.9633 27.2666 14.1532 27.0513 13.2382C26.8433 12.3696 27.3522 11.4546 27.6238 10.6518C27.8195 10.0711 28.0201 9.47332 28.2305 8.89504C28.3279 8.66877 28.3757 8.42436 28.3706 8.17817C28.3655 7.93199 28.3078 7.68974 28.2012 7.46764C28.0737 7.26174 27.9016 7.08692 27.6976 6.95603C27.4935 6.82514 27.2626 6.74149 27.0219 6.71124C26.425 6.59656 25.8158 6.46724 25.2261 6.3306C24.5925 6.18908 23.8341 6.11588 23.2346 5.79136C22.4444 5.3668 22.3001 4.6714 22.0114 3.88816C21.7447 3.18544 21.4707 2.46076 21.2407 1.7434C21.1477 1.46036 20.9055 0.7064 20.218 0.4502C18.936 -0.0378002 17.2235 1.536 16.2032 2.1582C15.3592 2.66816 14.6326 2.6462 13.7787 2.06792C13.0692 1.59212 12.3377 1.17976 11.5768 0.74056C11.2294 0.54536 10.8722 0.34528 10.5028 0.12812C10.3921 0.0591961 10.2669 0.0167265 10.137 0.00402842C10.0072 -0.00866964 9.87612 0.00874765 9.75412 0.0549198C9.63576 0.0982273 9.52828 0.166713 9.43913 0.255619C9.34999 0.344526 9.28132 0.451721 9.23789 0.56976C9.07642 0.99676 8.91984 1.40668 8.76571 1.8044C8.42808 2.68524 8.10758 3.5124 7.81644 4.3664C7.48127 5.3424 6.75953 5.68888 5.77357 5.86456C4.91483 6.01584 4.06098 6.20372 3.20224 6.32328C2.92822 6.36232 2.20404 6.46724 1.85418 7.10164C1.47008 7.79216 1.82238 8.52416 2.06704 9.19028C2.41934 10.1663 3.06278 11.4497 2.98205 12.494C2.90131 13.5384 2.02789 14.3167 1.43827 15.0829C1.13 15.4806 0.84131 15.8637 0.533044 16.2126C0.261476 16.5298 -0.0859351 17.0202 0.0192668 17.6473C0.136702 18.3452 0.753234 18.7038 0.953852 18.8234C1.95694 19.4066 3.7943 20.2215 4.4035 21.2317C5.01269 22.2418 4.74112 24.267 4.6873 25.4187C4.6873 25.6798 4.63837 26.4752 5.20352 26.9901C5.7173 27.4537 6.37787 27.3902 6.82804 27.3073C7.92165 27.0999 9.71987 26.4996 10.7915 26.9291C11.9193 27.3829 12.9934 29.169 13.7273 30.1011C13.8692 30.2792 14.2974 30.8331 14.9751 30.8331C15.0471 30.8345 15.1192 30.8296 15.1904 30.8184C15.6068 30.7291 15.9749 30.4881 16.2228 30.1426C16.9445 29.2593 17.6907 28.3687 18.4761 27.4976C18.6604 27.2492 18.9206 27.0673 19.2176 26.9793C19.5146 26.8913 19.8322 26.9019 20.1226 27.0096C20.5777 27.1462 21.0303 27.2878 21.4829 27.4293L22.5521 27.7611C25.2628 28.4931 25.8207 28.1125 26.0311 27.9661C26.6207 27.561 26.5644 27.0608 26.4739 26.4045C26.3375 25.3384 26.0739 24.2923 25.6885 23.2886C25.5393 22.8689 25.3509 22.1467 25.3827 21.9124C25.4268 21.5611 25.7448 21.2048 26.3222 20.851C27.1418 20.3484 27.9736 19.875 28.8006 19.387C29.2899 19.0918 29.8648 18.7551 29.9798 18.1012C30.0948 17.4472 29.696 16.93 29.3584 16.481Z" fill="#30D8A4" opacity="1" transform-origin="14.999999046325684px 15.416666032280773px" style="transform: none; transform-origin: 15px 15.4167px;">
</path>
<text text-anchor="middle" x="50%" y="65%" class="u-font-mono u-font-bold u-text-16" fill="#000">1</text>
</svg>
        <h1> Create a listing for an Item you would like to sell </h1>
               <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/> </svg>

<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-2-square" viewBox="0 0 16 16">
  <path d="M6.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z"/>
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2Zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2Z"/>
</svg>
        <h1> When someone buys your item, you get a notication to schedule shipping through our platorm </h1>
               <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/> </svg>

<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-3-square" viewBox="0 0 16 16">
  <path d="M7.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z"/>
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2Zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2Z"/>
</svg>
        <h1> Once the Item is delivered, you get paid! </h1>



             

        </div>

        <div class= "flex flex-col items-center justify-center basis-1/2 space-y-8">
        <h1 class="text-2xl"> Buyers</h1>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-1-square-fill" viewBox="0 0 16 16">
  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm7.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"/>
</svg>
        <h1> Purchase an Item you like </h1>
               <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/> </svg>


<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-2-square" viewBox="0 0 16 16">
  <path d="M6.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z"/>
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2Zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2Z"/>
</svg>
        <h1>  You get a notfication when the seller ships your item </h1>
               <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/> </svg>

<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-3-square" viewBox="0 0 16 16">
  <path d="M7.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z"/>
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2Zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2Z"/>
</svg>
        <h1> You get your clothes! </h1>


        </div>
<% end%>

  


    </div>
</div>

</div>


</div>