<body>
<turbo-frame id="sell_shop">
 <div class=" items-center pt-5 justify-center sm:-my-px flex space-x-8">
<a href="" class="border-transparent text-gray-500 inline-flex hover:border-gray-300 hover:text-gray-700 items-center border-b-2 px-1 pt-1 text-md font-medium" aria-current="page">Selling</a>
            <a href="home/sell" class="border-teal-500 text-gray-900  inline-flex items-center border-b-2 px-1 pt-1 text-md font-medium">Buying</a>
</div>

                        <h1 class=" flex items-center justify-center text-black text-2xl  pb-10 pt-10"> Buying is simple</h1>

                        <div class="grid grid-cols-1 sm:grid-cols-3  ">
                                <div class="flex flex-col mx-4 my-4 sm:my-0  col-span-1 space-y-4 sm:col-span-1 bg-white shadow-xl rounded-lg pb-8 pt-4 px-4 ">
                                        <%= image_tag "man_shopping.jpg",:class=>"  w-full sm:w-8/10" %>
                                        <h1 class="pt-2 pb-2">1. Find it </h1>
                                        <p> Discover a wide selection of unique pieces and find an item you like.</p>

                                </div>

                                <div class="flex flex-col mx-4 my-4 sm:my-0  col-span-1 sm:col-span-1 space-y-4  bg-white shadow-xl rounded-lg pb-8 pt-4 px-4">
                                        <%= image_tag "person_paying.jpg",:class=>"   w-full sm:w-8/10" %>
                                        <h1 class="pt-2 pb-2">2. Buy it </h1>
                                        <p class="">Once your find an item you like, click 'purchase' and pay securely through paystack.</p>

                                </div>

                                <div class="flex flex-col mx-4 my-4 sm:my-0  col-span-1 sm:col-span-1 space-y-4  bg-white shadow-xl rounded-lg pb-8 pt-4 px-4">
                                        <%= image_tag "opening_package.jpg",:class=>"   w-full sm:w-8/10" %>
                                        <h1 class="pt-2 pb-2">3. Get it </h1>
                                        <p>We'll deliver your item to you and let you know when its about to arrive.</p>



                                </div>

                        </div>

</turbo-frame >

</body>